body {
    text-align: center;
    background-color: aliceblue;
}

.container {
    text-align: center;
}

.img1 {
    width: 250px;
    height: 300px;
}

.div1 {
    height: 30px;
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: black;
}

.div1 a {
    font-size: 18px;
}

#imgFamily {
    text-align: right;
    width: 85%;
    height: 400px;
}
